<form action="" (ngSubmit)="onSubmit()">
  <label for="investmentAmount">Investment Amount:</label>
  <input
    type="number"
    id="investmentAmount"
    name="investmentAmount"
    required
    [(ngModel)]="initialInvestment"
  />

  <label for="annualInvestment">Annual Investment:</label>
  <input
    type="number"
    id="annualInvestment"
    name="annualInvestment"
    required
    [(ngModel)]="annualInvestment"
  />

  <label for="duration">Investment Duration (years):</label>
  <input
    type="number"
    id="duration"
    name="duration"
    required
    [(ngModel)]="duration"
  />

  <label for="expectedReturn">Expected Return (%):</label>
  <input
    type="number"
    id="expectedReturn"
    name="expectedReturn"
    step="0.01"
    required
    [(ngModel)]="expectedReturn"
  />

  <button type="submit">Calculate</button>
</form>
